.TodList{
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error{
    color: red;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
}
.input{
    margin: 5px;
    padding: 8px;
    border: 2px solid red;
    border-radius: 10px;
}